---
layout: default
title: 
seo:
  title: 
  keywords:
    - 
  social_image: /images/
  hide-from-google: true
header:
 - pretitle: "PT AEG BALI"
   title: "PT. ALPHA ENVIRONMENTAL GROUP (AEG)"
   subtitle: "AEG is a PMA company registered in Indonesia, with sister companies in Vietnam and the Southeast Asia region.<br> AEG provides sustainable environmental infrastructure for clean and drinking water production from natural sources and wastewater recycling
   for reuse from natural and industrial sources using advanced, proven, and patented technologies from Europe."
   button-url: https://wa.me/628113858851
   button-cta: Contact Us
   image: /images/banner-optimized.png
   image-alt: 
horizontal-banner:
 - text: Sustainable environmental infrastructure for clean and drinking water. Sustainable environmental infrastructure for clean and drinking water. Sustainable environmental infrastructure for clean and drinking water.
text-and-images:
 - pretitle: PT AEG BAli
   title: Our Customers
   paragraph: AEG customers include leading hotels and boutique resorts, industrial food and beverage manufacturers, reputed international residential property developers and operators, and individual residential property owners and managers.
   image-1: /images/indonesia-aeg.png
   image-1-alt: alt text
   image-2: /images/vietnam-aeg.png
   image-2-alt: alt text
   image-3: /images/aeg-compact-skid-unit.png
   image-3-alt: alt text
   image-4: /images/aeg-container-unit.png
   image-4-alt: alt text
   image-5: /images/aeg-eliminate-toxic-substances.png
   image-5-alt: alt text
   image-6: /images/nsf-logo-aeg.png
   image-6-alt: alt text
background-text-banner:
 - text: Recycling for reuse from natural water and industrial sources, using advanced proven and patented technology from Europe.
   image: /images/aeg-water-background.png
   image-position: 50% 50%
grid-section:
 - title: Book your free consultation with us.
   image-1: /images/aeg-workflow.png
   image-1-position: 50% 50%
   image-1-alt: alt-text
   image-1-pre-title: Work-flow
   image-1-title: Simple & clear 3 steps process
   image-1-paragraph: "We enable the most comprehensive and sustainable, tailored solution for your individual project needs and objectives. All design criteria to produce drinking water quality are considered, including the toughest international standards from Europe & Asia, such as Singapore and Japan, and foremost the strictest Indonesian regulations as per the latest PERMENKES, 2 of 2023."
   image-2: /images/nsf-logo-aeg.png
   image-2-position: 50% 50%
   image-2-alt: alt text
   image-2-pre-title: Your assurance
   image-2-title: NSF International certification
   image-2-paragraph: Is valued by customers, manufactures, retailers and regulatory agencies world wide. 
   image-2-extra-title-1: NSF/ANSI/CAN 61
   image-2-extra-description-1: Drinking Water System Components - Health Effects
   image-2-link-1: https://info.nsf.org/Certified/PwsComponents/Listings.asp?Company=C0584424&Standard=061
   image-2-link-1-text: Find out more
   image-2-extra-title-2: NSF/ANSI 419
   image-2-extra-description-2: "Public Drinking Water Equipment Performance – Filtration"
   image-2-link-2: https://info.nsf.org/Certified/PDWE/Listings.asp?Company=C0584424&Standard=419
   image-2-link-2-text: Find out more
   image-3: /images/aeg-Client-P&ID.png
   image-3-position: 50% 50%
   image-3-alt: alt text
   image-3-pre-title: PT AEG Bali
   image-3-title: Innovative technology integrator
   image-3-paragraph: The fully automated system by ALPHA ENVIRONMENTAL GROUP takes natural raw water from bore wells or river and treats it in a single filtration step. AEG water treatment systems enables the most compact design to fit your drinking water quality production system into the smallest spaces, without any noise or odor generated during operation. The core filtration technology applied by ALPHA ENVIRONMENTAL GROUP is a submerged ceramic membrane patented and manufactured in Germany, and eliminates toxic substances that can be found in your natural groundwater, rainwater and other water sources. 
   image-4: /images/aeg-leaders.png
   image-4-position: 50% 50%
   image-4-alt: alt tex
   image-4-pre-title: 
   image-4-title: 
   image-4-paragraph: 
   icon-1: <i class="fa-regular fa-user text-xl"></i>
   icon-1-text: Figen Kikki Keil (Founder & President Director)
   icon-1-paragraph: Environmental & Social Infrastructure & Management
   icon-2: <i class="fa-regular fa-user text-xl"></i>
   icon-2-text: Nguyen Cao Tri (Technical Director)
   icon-2-paragraph: Environmental Engineer for water treatment projects
   icon-3: <i class="fa-regular fa-user text-xl"></i>
   icon-3-text: Rolf Richard Keil (Commissioner)
   icon-3-paragraph: International Advisor to government & leaders, private sector developer & innovative technology manufactures
booking:
 - text: Book your free consultation with us today.
   subtitle: 
   button-1-url: https://wa.me/628113858851
   button-1-text: Whatsapp
   button-2-url: pt.aeg.indonesia@gmail.com
   button-2-text: Email
   button-3-url: https://www.instagram.com/tiptap_bali/
   button-3-text: Instagram
   image: /images/aeg-water-background.png
   image-position: 50% 5%
google-maps:
 - pre-title: 
   title: Where you can find us.
   paragraph: 
---

<header class="relative max-w-screen-2xl mx-auto">
  {% for item in page.header %}
  <!-- Fixed Navigation Positioned Over Image on Smaller Screens -->
  <div class="absolute top-0 left-0 right-0 z-50 flex flex-col items-center px-5p py-5p sm:py-2p text-white sm:fixed sm:flex-row sm:justify-between sm:items-center sm:text-black nav-bg">
    <div class="sm:max-w-screen-2xl sm:mx-auto flex flex-col sm:flex-row sm:justify-between items-center w-full">
      <h2 class="text-2xl mb-2 sm:mb-0">
        <a href="/index">
          <img src="/images/aeg-logo.png" alt="" class="h-12">
        </a>
      </h2>
      <nav class="tracking-wide flex space-x-4">
        <a href="#customers">Our Customers</a>
        <a href="#contact" class="font-bold">Contact Us</a>
      </nav>
    </div>
  </div>

  <!-- Main Content -->
  <div class="relative flex flex-col items-center justify-center min-h-screen text-center text-white sm:grid sm:grid-cols-2 sm:bg-opacity-0 sm:text-black">
    <!-- Text Column Default on Smaller Screens -->
    <div class="relative z-20 p-5 max-w-lg text-center sm:block sm:items-start sm:justify-center sm:p-5 sm:bg-transparent sm:col-span-1">
      <!-- Background Box for Smaller Screens -->
      <div class="nav-bg rounded-lg p-5 sm:bg-transparent">
        <p class="small-font pb-2p">{{item.pretitle}}</p>
        <h2 class="text-3xl title-font pb-5p">{{item.title}}</h2>
        <p class="px-5p pb-10p sm:px-10p sm:pb-5p">{{item.subtitle}} </p>
        <div data-aos="fade-down">
          <a href="{{item.button-url}}" class="button">{{item.button-cta}}</a>
        </div>
      </div>
    </div>

    <!-- Image Column with Overlay on Smaller Screens -->
    <div class="absolute inset-0 w-full h-full object-cover sm:relative sm:min-h-screen sm:block">
      <img 
        src="{{item.image}}" 
        loading="lazy" 
        class="absolute inset-0 w-full h-full object-cover sm:static sm:object-cover" 
        alt="{{item.image-alt}}" 
        style="object-position: center;"
      />
    </div>
  </div>
  {% endfor %}
</header>
 





<!-- Banner Section -->
<section class="max-w-screen-2xl mx-auto">
  <div class="dark-bg text-light banner-font sm:py-2p flex items-center justify-center h-20 sm:h-40">
    <div class="tickerBanner">
      {% for item in page.horizontal-banner %}
      <p class="text-block">{{item.text}}</p>
      {% endfor %}
    </div>
  </div>
</section>






<!-----------Text and images-------------->
<section class="max-w-screen-2xl mx-auto" id="customers">
  {% for item in page.text-and-images %}
  <div class="md:grid md:grid-cols-3 pt-10p px-5p mb-5p sm:mb-0 sm:p-5p sm:gap-5">
    <!-- Text Content -->
    <div class="col-span-1 flex flex-col justify-center items-start pr-5p">
      <p class="small-font pb-2p">{{item.pretitle}}</p>
      <p class="text-2xl title-font pb-5p sm:pb-2p md:pb-0">{{item.title}}</p>
    </div>
    <div class="col-span-2 flex items-center">
      <p class="pb-5p md:pb-0">{{item.paragraph}}</p>
    </div>

    <!-- Gallery Section -->
    <div class="col-span-3 grid grid-cols-2 sm:grid-cols-3 gap-3 justify-center">
      <!-- Image 1 -->
      <div class="gallery-pic relative" data-aos="fade-down">
        <img 
          loading="lazy" 
          class="w-full h-full object-contain" 
          src="{{item.image-1}}" 
          alt="{{item.image-1-alt}}" 
        />
      </div>
      <!-- Image 2 -->
      <div class="gallery-pic relative" data-aos="fade-down">
        <img 
          loading="lazy" 
          class="w-full h-full object-contain" 
          src="{{item.image-2}}" 
          alt="{{item.image-2-alt}}" 
        />
      </div>
      <!-- Image 3 -->
      <div class="gallery-pic relative" data-aos="fade-down">
        <img 
          loading="lazy" 
          class="w-full h-full object-contain" 
          src="{{item.image-3}}" 
          alt="{{item.image-3-alt}}" 
        />
      </div>
      <!-- Image 4 -->
      <div class="gallery-pic relative" data-aos="fade-down">
        <img 
          loading="lazy" 
          class="w-full h-full object-contain" 
          src="{{item.image-4}}" 
          alt="{{item.image-4-alt}}" 
        />
      </div>
      <!-- Image 5 -->
      <div class="gallery-pic relative" data-aos="fade-down">
        <img 
          loading="lazy" 
          class="w-full h-full object-contain" 
          src="{{item.image-5}}" 
          alt="{{item.image-5-alt}}" 
        />
      </div>
      <!-- Image 6 -->
      <div class="gallery-pic relative" data-aos="fade-down">
        <img 
          loading="lazy" 
          class="w-full h-full object-contain" 
          src="{{item.image-6}}" 
          alt="{{item.image-6-alt}}" 
        />
      </div>
    </div>
  </div>
  {% endfor %}
</section>










<!-----BG and Text-------->
<section class="max-w-screen-2xl mx-auto">
  {% for item in page.background-text-banner %}
  <div class="relative">
    <!-- Image Background with Overlay -->
    <div class="bg-cover bg-no-repeat relative"
         style="background-image: url('{{item.image}}'); height: 24rem; background-position: {{ image-position }};">
      
      <!-- Overlay -->
      <div class="absolute inset-0 bg-[#345a80] opacity-50"></div>
      
      <!-- Text on Top of Image -->
      <div class="absolute inset-0 flex items-center justify-center p-5p">
        <div class="p-8 text-center">
          <p class="banner-font text-light text-xl sm:text-3xl lg:text-4xl">
            {{item.text}}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>





<!------Amenities-------------->

<section class="max-w-screen-2xl mx-auto">
  {% for item in page.grid-section %}
  <div class="pt-10p px-5p sm:pt-5p">
    <p class="title-font text-2xl sm:text-4xl pb-5p sm:pr-5p">{{item.title}}</p>
    <div class="sm:grid sm:grid-cols-2 gap-5 mb-5">
      
      <!------Image 1------>
      <div class="relative col-span-1 aspect-[16/9]">
        <img 
          loading="lazy"
          class="w-full h-full object-contain"
          src="{{item.image-1}}"
          style="object-position: {{item.image-1-position}};"
          alt="{{item.image-1-alt}}" 
        />
      </div>

      <!-- Text Content -->
      <div class="col-span-1 flex flex-col justify-center pt-5p pb-10p sm:pt-0 sm:pb-0" data-aos="fade-down">
        <p class="small-font pb-2p">{{item.image-1-pre-title}}</p>
        <p class="text-2xl title-font pb-2p">{{item.image-1-title}}</p>
        <p>{{item.image-1-paragraph}}</p>
      </div>

      <!-- Image 2 -->
      <div class="relative col-span-1 aspect-[16/9]">
        <img 
          loading="lazy"
          class="w-full h-full object-contain"
          src="{{item.image-2}}"
          style="object-position: {{item.image-2-position}};"
          alt="{{item.image-2-alt}}" 
        />
      </div>
    

      <!-- Text Content -->
      <div class="col-span-1 flex flex-col justify-center pt-5p pb-10p sm:pt-0 sm:pb-0" data-aos="fade-down">
        <p class="small-font pb-2p">{{item.image-2-pre-title}}</p>
        <p class="text-2xl title-font pb-2p">{{item.image-2-title}}</p>
        <p class="pb-2p">{{item.image-2-paragraph}}</p>
        <p class="font-bold">{{item.image-2-extra-title-1}}</p>
        <p class="text-xs">{{item.image-2-extra-description-1}}</p>
        <a href="{{image-2-link-1}}" class="text-xs underline pb-2p">{{item.image-2-link-1-text}}</a>
        <p class="font-bold">{{item.image-2-extra-title-2}}</p>
        <p class="text-xs">{{item.image-2-extra-description-2}}</p>
        <a href="{{image-2-link-2}}" class="text-xs underline">{{item.image-2-link-2-text}}</a>
      </div>

      <!-- Image 3 -->
  <div class="relative col-span-1 aspect-[16/9]">
    <img 
      loading="lazy"
      class="w-full h-full object-contain"
      src="{{item.image-3}}"
      style="object-position: {{item.image-3-position}};"
      alt="{{item.image-3-alt}}" 
    />
  </div>

      <!-- Text Content -->
      <div class="col-span-1 flex flex-col justify-center pt-5p pb-10p sm:pt-0 sm:pb-0" data-aos="fade-down">
        <p class="small-font pb-2p">{{item.image-3-pre-title}}</p>
        <p class="text-2xl title-font pb-2p">{{item.image-3-title}}</p>
        <p>{{item.image-3-paragraph}}</p>
      </div>


      <!-- Image 4 -->

<div class="relative col-span-1 aspect-[16/9]">
  <img 
    loading="lazy"
    class="w-full h-full object-contain"
    src="{{item.image-4}}"
    style="object-position: {{item.image-4-position}};"
    alt="{{item.image-4-alt}}" 
  />
</div>


    
        <!-- Text Content -->
        <div class="col-span-1 flex flex-col justify-center items-center pt-5p sm:pt-0" data-aos="fade-down">
          <div>
            <p class="small-font pb-2p">{{item.image-4-pre-title}}</p>
            <p class="text-2xl title-font pb-2p">{{item.image-4-title}}</p>
            <p class="pb-5p">{{item.image-4-paragraph}}</p>
          </div>
          
          <div class="grid grid-cols-1 gap-4">
            <!-- 1st row: Guests -->
            <div class="grid grid-cols-6 gap-2 items-center">
              <div class="col-span-1">
                {{item.icon-1}}
              </div>
              <div class="col-span-5">
                <p class="font-bold">{{item.icon-1-text}}</p>
                <p class="text-sm">{{item.icon-1-paragraph}}</p>
              </div>
            </div>
            
            <!-- 2nd row: Bedrooms -->
            <div class="grid grid-cols-6 gap-2 items-center">
              <div class="col-span-1">
                {{item.icon-2}}
              </div>
              <div class="col-span-5">
                <p class="font-bold">{{item.icon-2-text}}</p>
                <p class="text-sm">{{item.icon-2-paragraph}}</p>
              </div>
            </div>
            
            <!-- 3rd row: Bathrooms -->
            <div class="grid grid-cols-6 gap-2 items-center">
              <div class="col-span-1">
                {{item.icon-3}}
              </div>
              <div class="col-span-5">
                <p class="font-bold">{{item.icon-3-text}}</p>
                <p class="text-sm">{{item.icon-3-paragraph}}</p>
              </div>
            </div>
            
            
          </div>
        </div>

    </div>
  </div>

  {% endfor %}
</section>



<!-----------Booking options-->
<section class="max-w-screen-2xl mx-auto my-10" id="contact">
  {% for item in page.booking %}
  <div class="relative">
    <!-- Image Background with Overlay -->
    <div class="bg-cover bg-no-repeat relative" style="background-image: url('{{item.image}}'); height: 24rem; background-position: {{ item.image-position }};">
      
      <!-- Overlay -->
      <div class="absolute inset-0 bg-[#345a80] opacity-50"></div>
      
      <!-- Text and Buttons on Top of Image -->
      <div class="absolute inset-0 sm:flex items-center justify-center p-5p">
        <div class="p-8 text-center text-light">
          
          <div class="text-center sm:mt-8">
            <p class="banner-font text-xl sm:text-3xl lg:text-4xl">{{item.text}}</p>
            <p class="pt-5p text-sm">{{item.subtitle}}</p>
          </div>
        
          <!-- Booking Buttons -->
          <div class="sm:flex justify-center sm:space-x-4 mt-6">
            <a href="{{item.button-1-url}}" target="_blank" class="button mb-5p sm:mb-0">
              {{item.button-1-text}}
            </a>
            <a href="{{item.button-2-url}}" target="_blank" class="button mb-5p sm:mb-0">
              {{item.button-2-text}}
            </a>
            <a href="{{item.button-3-url}}" target="_blank" class="button mb-5p sm:mb-0">
              {{item.button-3-text}}
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>




<!-----------Google Maps-------------->

<section class="max-w-screen-2xl mx-auto">
  {% for item in page.google-maps %}
  <div class="sm:grid sm:grid-cols-3 px-5p gap-5">
    <div class="col-span-1 flex flex-col justify-center items-start pr-5p">
      <p class="small-font pb-2p">{{item.pre-title}}</p>
      <p class="text-2xl title-font pb-2p">{{item.title}}</p>
    </div>
    <div class="col-span-2 flex items-center">
      <p>{{item.paragraph}}</p>
    </div>
  </div>
  <div class="map-container p-5p xl:px-5p xl:py-2p">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.797697611886!2d115.17861799999999!3d-8.710752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246c8f543bb33%3A0xea735a01c5a8f04e!2sJl.%20Patih%20Jelantik%20No.21%2C%20Legian%2C%20Kec.%20Kuta%2C%20Kabupaten%20Badung%2C%20Bali%2080361!5e0!3m2!1sen!2sid!4v1732509221408!5m2!1sen!2sid" 
      class="w-full h-full border-0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  {% endfor %}
</section>



<footer class="max-w-screen-2xl mx-auto px-5">
  <!-- Horizontal line above the footer -->
  <hr class="border-t border-gray-300 my-5">
  
  <div class="flex justify-center items-center gap-10 xl:pt-2p">
    <!-- "Villa Cantik" section -->
    <div class="flex flex-col justify-center items-center mr-5p ">
      <h2 class="text-2xl">
        <a href="/index">PT AEG BALI</a>
      </h2>
    </div>

    <!-- Icons section -->
    <div class="flex space-x-4">
      <!-- WhatsApp -->
      <a href="https://wa.me/628113858851" class="text-xl" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <!-- Email -->
      <a href="mailto:pt.aeg.indonesia@gmail.com" class="text-xl" aria-label="Email">
        <i class="fa-regular fa-envelope"></i>
      </a>
      <!-- Instagram -->
      <a href="https://www.instagram.com/tiptap_bali/" class="text-xl" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <!-- Footer Credits -->
  <div class="text-center pt-10p sm:pt-5p pb-5p">
    <p>&copy; {{ "now" | date: "%Y" }} All rights reserved.</p>
    <a href="https://refinedislandcreations.com/" class="pt-2" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">
      Designed and built by <span class="underline font-semibold">Refined Island Creations</span>.
    </a>
  </div>
</footer>
